body {
  /* margin: auto; */
  text-align: center;
  font-family: "Montserrat-Bold";
  /* padding: 5% 15%; */
}

.mainTextSection{
  background-color: #28398d;
  margin-top: 1%;
  color: white;
  font-size: 1.5rem;
}

.detailsContainer{
  margin: 0% auto;
}

.deatilsText{
  padding: 2% 0;
  text-align: center;
  font-family: "Montserrat-Bold";
  font-size: 2rem;
}

.warningText{
  font-size: 1rem;
}

.detailsContainer{
  text-align: center;
  padding: 2% 0;
  background-color: Azure;
  margin-bottom: 20rem;
  font-family: "Monserrat";
  font-size: 1.5rem;;
}

.estimate-box{
  text-align: center;
  padding: 0 20%;
  margin-left: 5%;
}

.estimateContainer{
  margin-left: 3%;
}