body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Black";
}

/* Navigation bar */
.navbar {
  padding: 0 0 4rem;
}

.eagleLogo {
  width: 8%;
  margin-right: 2%;
}

.eagleLogoText {
  font-family: "Montserrat-light";
  font-size: 3.5rem;
  margin-right: 200px;
}

.nav-item {
  padding: 0 18px;
  /* color: white; */
}

.nav-link {
  font-family: "Montserrat-light";
  font-size: 1.2rem;
  /* color: white; */
}



/* Title Section */
#title {
  background-color: #28398d;
  color: white;
}

.mainHeader {
  font-size: 3.5rem;
}

.appButtonLink {
  margin: 20px auto;
  padding: 5%;
}

.container-fluid {
  padding: 3% 15%;
}

/* Download Buttons */
.downloadButton {
  margin: 5% 3% 5% 0;
}

.webHeader {

}


/* Anchor tags */
a:link {
  text-decoration: none;
  color: white;
}

/* Features Section */
#features {
  padding: 4% 15%;
}

.feature-box {

  padding: 5%;
}

.featureIcon {
  margin-bottom: 1rem;
  color: #28398d;
}

.featureIcon:hover {
  color: red;
}

/* Testimonials Section */
#testimonials {
  background-color: #28398d;
  color: white;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonialImage {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonialText {
  font-family: "Montserrat-bold";
  color: white;
  font-size: 3rem;
}

/* Press Section */

#press {
  background-color: #28398d;

  padding-bottom: 3%;
}

.pressImage {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {

  padding: 7% 15%;
}

.pricingText {
  font-family: "Montserrat-bold";
  color: black;
  font-size: 3rem;
}

.pricingColumn {
  padding: 3% 2%;
}
.priceSubHeader {
  color: black;
}

/* Call to action Section*/
#cta {
  padding: 3% 10%;

  background-color: #28398d;
}

/* Footer Section */
#footer {

  background-color: #28398d;
}

.callToAction {
  color: white;
}

.downloadButtonFooter {
  margin: 1% 3% 0 0;
}

.footerText {
  font-family: "Montserrat-bold";
  color: white;
}


/* For Mobiles */

@media (max-width: 900px) {
  .navbar-brand {
    font-size: 5rem;
    color: black;
  }

  .container-fluid {
    padding: 2%;
  }

  #features {
    padding: 0;
  }

  .feature-box {
    padding: 2%;
  }

  .mainHeader {
    font-family: "Montserrat-Bold";
    font-size: 5rem;
    color: white;
    text-align: center;
  }
}
